@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SportStore.Order.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SportShop.SportStore.OrderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>