{
    "RootNamespace": "SportShop",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SportShop_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "SportStore",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SportShop_SportStore_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "SportStore",
                    "ConnectionKey": "SportStore",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Order",
                    "Identifier": "Order",
                    "Module": "SportStore",
                    "ConnectionKey": "SportStore",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "SportStore",
                    "ConnectionKey": "SportStore",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderDetail",
                    "Identifier": "OrderDetail",
                    "Module": "SportStore",
                    "ConnectionKey": "SportStore",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SportShop\\SportShop.Web\\SportShop.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}